@use "../../scss/variables.scss" as *;

.description__section {
    
    .description {
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
        padding: 0.7em 0.5em;
        height: 24px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        //font-size: 24px;
        i {
            font-size: 1.7rem;
            transition: all 0.3s;
            &.isOpen {
                transform: rotate(180deg);
             }
        }

    }
    .content {
        background-color: $content-background-color;
        border-radius: 10px;
        padding: 1rem;
        position: relative;
        top: -1.5rem;
        z-index: -1;
        list-style: none;
        color: $primary-color;
        //font-size: 18px;
    }
}

.apartement__equipements {
    @media screen and (max-width: 768px){
    margin-top: -3rem;}
}
.infos {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: column;
    flex-basis: 50%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
    }
}


