@use "../scss/variables.scss" as *;

.apartment__page {
    color: $primary-color;
    padding: 0 2rem;
    h1 {
        font-weight: 500;
        line-height: 31.54px;
        font-size: 36px;
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: 500;
        line-height: 25.67px;
        font-size: 18px;
        margin-bottom: 1rem;
    }
    h3 {
        display: flex;
        align-items: end;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;

    }
    .infos__apropos {
        display: flex;
        gap: 2rem;
    }
}
