@use "../scss/variables.scss" as *;

.apartment__page {
    color: $primary-color;
    padding: 0 2rem;
    h1 {
        font-weight: 500;
        line-height: 31.54px;
        font-size: 27px;
        margin-bottom: 1rem;
        @media screen and (max-width: 768px) {
            font-size: 20px;
            margin-top: 0.2rem;
        }
    }
    h2 {
        font-weight: 500;
        line-height: 25.67px;
        font-size: 18px;
        margin-bottom: 1rem;
        @media screen and (max-width: 768px){
            font-size: 16px;
        }
    }
    h3 {
        display: flex;
        align-items: end;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;

    }
    .infos__apropos {
        display: flex;
        gap: 2rem;
        @media screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
            gap: 0rem;
            margin-top: -1.5rem;
        }
    }
}
