@use "../scss/variables.scss" as *;

.apartment {
  //background-image: linear-gradient(to top, $secondary-color, $primary-color);
  border-radius: 1rem;
  flex-basis: 30%;
  box-shadow: 0 0 5px rgb(0 0 0 / 18%);
  min-width: 15rem;
  min-height: 15rem;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  }
  .apartment__title {
    width: 89%;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 18px;
    
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .apartment {
    flex-basis: 100%;
  }
}
