@use "../scss/variables.scss" as *;
.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  color: $primary-color;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 768px){
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0;
  }
  &__list__propos {
    white-space: nowrap;
  }
  & a {
    text-decoration: none;
    color: $primary-color;
    &.active {
      text-decoration: underline;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.navbar__logo {
  &__img {
    @media screen and (max-width: 768px) {
      width: 70%;
  }
  }
  margin-right: auto;
}

/*.navbar__list {
    display: flex;
    gap: 3rem;
    font-size: 24px;
  }
  .navbar__list__accueil {
    text-decoration-line: underline;
  }*/
