@use "../../scss/variables.scss" as *;

.error__page {
    color: $primary-color;
    text-align: center;
    h1 {
        font-size: 228px;
        font-weight: 700;
        margin-top: 4rem;
        @media screen and (max-width: 768px) {
            font-size: 113px;
            font-weight: 700;
            margin-top: 10rem;
        }
    }
    h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 410.69px;
        margin-bottom: -7rem;
        margin-top: -18rem;
        @media screen and (max-width: 768px) {
            font-size: 17px;
            margin-bottom: -6rem;
            margin-top: -16rem;
        }
    }
    a {
        color: $primary-color;
    }
}